body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgrey;
}

a {
  color: rgb(40, 154, 124);
}

.delete-form {
  display: inline-block;
}

li {
  list-style: none;
}

h1 {
  color: rgb(141, 208, 141)
}

h3 {
  color: grey;
}


.submit-button {
  background-color: grey;
}

.edit-top {
  height: 100px;
}

.edit-bottom {
  height: 50px;
}

.edit-button {
  background-color: grey;
}



